<!doctype html>
<html lang="en">
<head>
  	<meta charset="utf-8">
	<!-- Font family -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/opentip.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/site.min.css">
	<link rel="stylesheet" href="stylesheets/custom.css">

	<!-- Javascript external libraries -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="scripts/opentip-jquery.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/respond.min.js"></script>
	<script src="scripts/site.min.js"></script>
	<script src="scripts/constants.js"></script>
	<script src="scripts/app.js"></script>

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
</head>

<body>
	<main>
		{{ content }}
	</main>

	<footer>
		<div class="container raleway">
		    <div class="row">
		        <div class="col-lg-10 col-lg-offset-1 text-center">
		            <p class="text-muted">Boyang Niu 2014&copy; |
		            <a href="documents/resume.pdf">My resume</a>  |
		            <a href="https://github.com/kumquatexpress">My Github</a>  |
		            <a href="mailto:boyang.niu@gmail.com">Say hi</a>
		            </p>
		        </div>
		    </div>
		</div>
	</footer>
</body>
</html>