---
layout: with_sidebar
---
<article>
		<a class="back-archive" href="/archive"><i class="fa fa-arrow-circle-left"></i> Back to archive</a>
        <header>
            <h2>{{ page.title }}</h2>
            <span class="icon-date"><i class="fa fa-clock-o"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span>
            <span class="icon-author"><i class="fa fa-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
            <span class="icon-category">{{ page.categories | category_links }}</span>
        </header>
        <div class="entry raleway">{{ content }}</div>
</article>