---
layout: base
---
<div class="col-sm-2 tabbable tabs-left clearfix">
	<a class="opentip-hover" data-text="Mission Central" href="/">
		<div id="go-home">	
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle-o fa-stack-2x"></i>
				<i class="fa fa-home fa-stack-1x"></i>
			</span>
		</div>
	</a>
	<ul class="nav nav-tabs sidebar" role="tablist">
        {% for category in site.categories %}
	    <li class="sidebar-tab">
	        <a href="/{{ category | first }}">
            	<span class="category">{{ category | first | capitalize }}&nbsp;&nbsp;<i class="fa fa-tag"></i></span>
            </a>
	    </li>
        {% endfor %}
	</ul>
</div>
<div class="col-sm-10" id="content">
	{{content}}
</div>